
#-----------------------------------------------------------------
#
# Autrice     : Lucielle Anya Alita Ahsoka Voeffray
# Date        : 18.05.2026
# Version     : 0.1.0
# Description : Configurations de ansible
#
#-----------------------------------------------------------------

[defaults]
inventory = inventory.yml
host_key_checking = False
retry_files_enabled = False
stdout_callback = ansible.builtin.default
vault_password_file = .vault_pass